body {
    font-family: Arial, sans-serif;
    background-color: #ffcccb;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.waitlist-form {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.waitlist-form h2 {
    color: #ff4500;
}

.waitlist-form button {
    background-color: #ff4500;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.waitlist-form button:hover {
    background-color: #e63900;
}

.thank-you-message h2 {
    text-align: center;
    color: #ff4500;
}
